{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Protein Property Predictor - Models</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <style>
      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/offcanvas-navbar.css' %}" rel="stylesheet">
  </head>
  <body class="bg-light">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Protein Property Predictor</a>
        <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Search Engine</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'all_model' %}">Model Builder</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
{#    <div class="nav-scroller bg-body shadow-sm">#}
{#      <nav class="nav" aria-label="Secondary navigation">#}
{#        <a class="nav-link active" aria-current="page" href="#">Dashboard</a>#}
{#        <a class="nav-link" href="#"> Friends <span class="badge text-bg-light rounded-pill align-text-bottom">27</span>#}
{#        </a>#}
{#        <a class="nav-link" href="#">Explore</a>#}
{#        <a class="nav-link" href="#">Suggestions</a>#}
{#        <a class="nav-link" href="#">Link</a>#}
{#        <a class="nav-link" href="#">Link</a>#}
{#        <a class="nav-link" href="#">Link</a>#}
{#        <a class="nav-link" href="#">Link</a>#}
{#        <a class="nav-link" href="#">Link</a>#}
{#      </nav>#}
{#    </div>#}
    <main class="container">
        <div class="my-3">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger d-flex align-items-center rounded shadow-sm">
                            <i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"></i>
                        {{ message }}
                      </div>
                    {% elif message.tags == 'success' %}
                        <div class="alert alert-success d-flex align-items-center rounded shadow-sm">
                        <i class="bi bi-check-circle-fill flex-shrink-0 me-2"></i>
                        {{ message }}
                      </div>
                    {% else %}
                        <div class="alert alert-primary d-flex align-items-center rounded shadow-sm">
                        <i class="bi bi-info-circle-fill flex-shrink-0 me-2"></i>
                        {{ message }}
                      </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <div class="d-flex justify-content-between border-bottom pb-2 mb-0 ">
              <h3>Models</h3>
              <a href="{% url 'create_model' %}" class="btn btn-primary">
                <i class="bi bi-plus flex-shrink-0 me-2"></i> Create </a>
            </div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Slug</th>
                  <th>Model</th>
                  <th>Property to Predict</th>
                  <th>Version</th>
                  <th>Timestamp</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody> {% for model in models %} <tr>
                  <th scope="row">{{ model.id }}</th>
                  <td>{{ model.slug }}</td>
                  <td>{{ model.model_type }}</td>
                  <td>{{ model.prediction_type }}</td>
                  <td>{{ model.version }}</td>
                  <td>{{ model.created_at | date:'Y-m-d H:i'  }}</td>
                  <td>{{ model.status }}</td>
                  <td>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                      <a href="{% url 'update_model' slug=model.slug %}" class="btn btn-outline-primary">
                        <i class="bi bi-pencil"></i>
                      </a>
                      <a href="{% url 'delete_model' slug=model.slug %}" class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                      </a>
                    </div>
                  </td>
                </tr> {% endfor %} </tbody>
            </table>
        </div>
    </main>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/offcanvas-navbar.js' %}"></script>
  </body>
</html>